body {
  font-family: sans-serif;
  background: #eee;
}

#navigate {
  background-color: #fff;
}

/*#contentinfo {
  line-height: 20px;
  margin: 30px;
  padding-bottom: 20px;
  text-align: justify;
  width: 140px;
}*/

.outer {
  display: table;
  position: absolute;
  height: 70%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}
