 {% extends 'base.html' %}{% import 'macros.html' as macro %} {% block style %}{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}{% block title %}Administrator's Dashboard{% endblock %} {% block content %}
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Administrator's Dashboard</h1>
          <hr class="intro-divider">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <p> {{macro.displayAdminBlogs(blogs)}}</p>
</div>
{% endblock %}
